<a href="https://colab.research.google.com/github/juandi247/Inteligencia_Artificial/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip list

In [ ]:
#tratamiento de datos
import pandas as pd
import numpy as np


#graficar
import matplotlib.pyplot as plt

#sistema operativo
import os

Leer un Archivo de Casas

In [ ]:
url="https://raw.githubusercontent.com/adiacla/bigdata/master/casas.csv"
df=pd.read_csv(url,sep=",")
#sep para separar por comas
df

,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,289000,0.38,32,24200,2310,61,5,1,2.5,11,hot water/steam,gas,public/commercial,No,No,No
1724,285000,0.94,37,36200,2564,61,4,1,2.5,11,hot water/steam,gas,public/commercial,No,No,No
1725,194900,0.39,9,20400,1099,51,2,0,1.0,3,hot air,gas,public/commercial,No,No,No
1726,125000,0.24,48,16800,1225,51,3,1,1.0,7,hot air,gas,public/commercial,No,No,No
1727,111300,0.59,86,26000,1959,51,3,0,1.0,6,hot air,gas,septic,No,No,No

In [ ]:
df.columns=["precio","metros_totales", "antiguedad", "precio_terreno", "metros_habitables","universitarios",
            "dormitorios", "chimenea", "banyos", "habitaciones","calefaccion","consumo_calefacion",
            "desague", "vistas_lago", "nueva_construccion","aire_acondicionado"]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            1728 non-null   int64
 1   lotSize          1728 non-null   float64
 2   age              1728 non-null   int64
 3   landValue        1728 non-null   int64
 4   livingArea       1728 non-null   int64
 5   pctCollege       1728 non-null   int64
 6   bedrooms         1728 non-null   int64
 7   fireplaces       1728 non-null   int64
 8   bathrooms        1728 non-null   float64
 9   rooms            1728 non-null   int64
 10  heating          1728 non-null   object
 11  fuel             1728 non-null   object
 12  sewer            1728 non-null   object
 13  waterfront       1728 non-null   object
 14  newConstruction  1728 non-null   object
 15  centralAir       1728 non-null   object
dtypes: float64(2), int64(8), object(6)
memory usage: 216.1+ KB